# Ambientes Virtuais
venv/
*.venv/
env/
ENV/

# Arquivos de cache do Python
__pycache__/
*.pyc

# Arquivos de cache do Jupyter Notebook
.ipynb_checkpoints/

# Arquivos de cache do VS Code (caso use)
.vscode/

# Arquivos de cache do sistema operacional
.DS_Store
Thumbs.db